.icon{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.icon_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_icon i {
    font-size: 35px;
}

.icon_icon span {
    margin-top: 18px;
}